/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
     box-shadow: 0 0 0 30px inherit inset !important;
}


a{
    text-decoration: none;
    

}


.container{
    width: 1440px; /*seriously? maket already 1440px LOL*/
    margin: 0 auto;
    padding: 0 20px;
}

.title{
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  color:#BDAE82
}



.title::before,
.title::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
   
    width: 350px;
    height: 2px;
    margin: 20px;
    
    background-color: #BDAE82;
}

.title::after{
  background-color:#BDAE82;
}

.header__top{
    background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
}


.header__inner{
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 20px 0 20px; /*margin sleva and sprava*/
    display: flex;
    align-items: center;                    
    justify-content: space-between;
     /*Jobaniy margin ( white shit was ) */
}




.menu__list{
    display: flex;
    list-style-type: none;
}

.menu__item + .menu__item{
    margin-left: 30px;
}

.menu__item-link{
    font-size: 20px;
    line-height: 50px;
    color:white;
    font-family: Inter,sans-serif;

}

.menu__item-link:hover{
  color:#bdae82;

}



/*------------header looks good*/

.hero__content{
    height: 100vh;
    background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center -90px;
    background-size: cover;

}
    
.hero__inner{
    padding-top: 180px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    max-width: 520px;
}

.header__title{
    height: 120px;
    font-family: 'Merriweather';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    color:white;
    line-height: 120px;
}

.header__subtitle{
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color:white;
}

.header__button{
    margin-top: 25px;
    width: 220px;
    height: 55px;
    background: #BDAE82;
    border:none;
    cursor:pointer;
    font-size: 20px;
    color:black;
    text-align: center;
}

.header__button:hover{
  color:white;
}

/*SKILLS*/

.skills{
  padding: 200px 0 200px;
  background-color: black;
}

.skills__inner{
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills__title{
  position: relative;
  font-family: Merriweather,sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  color: #BDAE82;
}



.skills__items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills__item {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.skills__item-img{
  margin-bottom: 50px;
  
}

.skills__item-title{
  font-family: Inter,sans-serif;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color:white;
  margin-bottom: 20px;
}

.skills_item-text{
  font-family: Inter,sans-serif;
  font-size: 18px;
  line-height: 36px;
  color:white;

}

/*PORTFOLIO*/

.portfolio{
  background-color: rgb(0, 0, 0);
}

.portfolio__inner{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.portfolio__btns{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  
}

.portfolio__btn{
  font-family: 'Inter';
  font-style: normal;
  max-width: 220px;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  padding: 8px 79px;
  background: inherit;
  border-color: #BDAE82;
  margin-left: 5px;
  color:#BDAE82;
}
.portfolio__btn + .portfolio__btn{
  margin-left: 5px;
}

.portfolio__btn:hover{
  color:white;
  cursor: pointer;
}

.portfolio__items{
  display: grid;
  grid-template-columns: repeat(3,450px); /*3 строчки по 450 ширину*/
  grid-template-rows: repeat(2,560px); /*3 СТОЛБА ТЕРОСА в 560пх* (2итема в колонки)/*/
  grid-gap: 25px;
  margin-top: 60px;
  justify-content: center;

}

.portfolio__item{
  justify-content: space-between;

}

/*VIDEO*/

.video{
  background-color: black;
}

.video__title{
  padding: 100px 0 60px;
}


.video__background{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}



.video__button{
  position: absolute;
  
  
  
}

.video__btn{
  background-color: inherit;
  border: none; 
  cursor: pointer;

}

/*PRICE*/

.price{
  background-color: black;
}

.price__title{
  padding-top: 100px;
  padding-bottom: 60px;
}

.price__items{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.price__item{
  border: 3px solid #BDAE82;
  text-align: center;
  margin-bottom: 100px;
  
   /*top */
  
}


.price__item + .price__item{
  margin-left: 25px;
}

.price__item-title{
  font-family: Merriweather;
  font-size: 28px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 43px;
  margin-bottom: 20px;
  color:white;

}

.price__item-price{
  font-family: Merriweather;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #BDAE82;


}

.price__item:nth-child(1){
  margin-left: 20px;
}

.price__item-text{
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px;
  padding-left: 124px;
  padding-right:124px;
  color:white;
}  

.price__item-text span{
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;

}

.price__item-order{
  color:black;
  background-color: #BDAE82;
  border: none;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 8px 39px 7px;
}

/*CONTACTS*/

.contact{
  height: 100vh;
  background-image: url('./img/contactsBG.jpg');
  background-repeat: repeat;
  background-position: center 0;
  background-size: cover;
}

.contact__title{
  font-family: Merriweather,sans-serif;
  font-weight:700;
  font-size:40px;
  line-height: 80px;
  padding-top:60px;
  padding-bottom: 20px;

  color:#BDAE82;

}

form{
  display: flex;
  flex-direction: column;
  
}

.contact__form{
  float: right;
  min-width: 450px;
}



.contact__email,.contact__phone
{
  width: 100%;
  margin-top: 20px;
  background-color: inherit;
  border:2px solid #BDAE82;
  color:white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  padding: 5px 5px;
  

}

.contact__email::placeholder{
  color:#BDAE82;
  padding-left: 10px;
  
  
  
}

.contact__phone::placeholder{
  color:#BDAE82;
  padding-left: 10px;

}

.contact__textarea{
  width: 100%;
  background-color: inherit;
  border:2px solid #BDAE82;
  color:white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  padding: 5px 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  resize: none;

}

.contact__textarea::placeholder{
  color:#BDAE82;
  padding-left: 10px;
}

.submit__button{
  width: 220px;
  font-family: Inter;
  padding: 8px 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #BDAE82;
  border:none;
  color:black;

}

/*FOOTER*/

.footer{
  background-color: black;
}

.footer__items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__item{
  padding: 50px 0 50px;
  font-family:Inter,san-serif;
  font-size: 20px;
  line-height: 50px;
  color:white;
}

.footer__item-container{
  display: flex;
  
}

.footer__item-img + .footer__item-img{
  margin-left: 30px;
}

.footer__item-text span{
  margin-left: 20px;
}

/*ADAPTIVE*/

@media (max-width:1440px){
  .container{
    width: calc(100% - 40px);

  }

  .skills__items{
    justify-content: space-around;
    
  }


  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px; 
  }

  .portfolio__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .video__background{
    margin: 0 calc(-50vw + 50%)
  }
  
  .video__btn img {
    transform: scale(0.8);
  }

  .price__items{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  


}


@media(max-width:990px){
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px; 
  }

  .portfolio__btns{
    flex-wrap: wrap;
    
  }

  .portfolio__btn {
    flex-basis: 45%;
    max-width: none;
    margin-top:10px;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 32px;
    font-size:23px ;
  }

  .portfolio__items{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .video__btn img {
    transform: scale(0.5);
  }
}

@media (max-width:665px){
  .skills__items{
    display: flex;
    flex-direction: column;
  }
  .video__btn img {
    transform: scale(0.4);
  }

}

@media(max-width:520px){
  .title{
    width: 100%;
  }
  .video__btn img {
    transform: scale(0.3);
  }

}

/*PRICE SECTION SHOULD BE FIXED*/
